<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Family_Project</title>
</head>
<body>
    <div style="width: 100%; background-color: rgb(15, 204, 56)"><font size="6"></font><br></div>
    <h1><center><font color="0099FF", size="7", face="標楷體">路口監視器人車流分析</font></center></h1>
    <div style="width: 100%; background-color: rgb(0, 153, 255)"><font size="6"></font><br></div>
    <div><br></div>
    <div><br></div>
    <div><center><img src="{{ url_for('video_feed1') }}" style="width:40%;max-width:640px;max-height:420px;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ url_for('video_feed2') }}" style="width:40%;max-width:640px;max-height:420px;">
    </center></div>
</body>
</html>
